body {
  font-family: Roboto;
}
.weather-forecast {
  border: 2px solid lightgray;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
.weather-details {
  display: flex;
}
.temp {
  font-size: 60px;
  line-height: 1;
}
.temp-info {
  position: relative;
}
.units {
  top: 30px;
  position: absolute;
  top: -32px;
}
