body {
  font-family: Roboto;
}
h1 {
  color: #202124;
  font-size: 28px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 0px;
}
ul {
  padding: 0;
}

li {
  list-style: none;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app {
  border: 1px solid #70757a;
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
}
.weather-details {
  display: flex;
}
.weather-details img {
  width: 64px;
  height: 64px;
  margin-right: 5px;
}
.temp {
  font-size: 54px;
  line-height: 1;
  font-weight: 400;
}
.temp-info .units {
  position: relative;
  top: -34px;
}
.more-info li {
  color: #70757a;
  font-size: 14px;
  line-height: 20px;
}
.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast img {
  width: 40px;
}
.weather-forecast-temperature {
  font-size: 14px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
